<h2 mat-dialog-title>Add new Author</h2>
<mat-dialog-content class="mat-typography bg">
  <div class="m-3 color">
    <form class="form" [formGroup]="authorForm" (submit)="onSubmit()">
      <div class="form-body">
        <div class="row">
          <div class="custom-file  mx-auto d-block">
            <label class="custom-file-label" for="photo">Choose Author Photo</label>
            <input type="file" accept="image/*" (change)="uploadImage($event.target)" class="custom-file-input form-control"
              id="photo">
          </div>
          <br>
          <div class="form-group col-md-12 mb-2">
            <label for="firstName">First name</label>
            <input formControlName="firstName" type="text" id="firstName" class="form-control border-primary"
              placeholder="Enter First name">
              <p *ngIf="authorForm.controls['firstName'].touched && authorForm.get('firstName')?.hasError('required')" class="text-danger">Firstname is required</p>
          </div>
          <div class="form-group col-md-12 mb-2">
            <label for="lastName">Last name</label>
            <input formControlName="lastName" type="text" id="lastName" class="form-control border-primary"
              placeholder="Enter last name">
              <p *ngIf="authorForm.controls['lastName'].touched && authorForm.get('lastName')?.hasError('required')" class="text-danger">Lastname is required</p>
          </div>
          <mat-form-field color="accent" appearance="fill">
            <mat-label>Date of birth</mat-label>
            <input formControlName="dob"   matInput [matDatepicker]="picker1">
            <mat-hint>YYYY/MM/DD</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="form-actions right d-flex justify-content-end">
        <button [disabled]="authorForm.invalid" mat-dialog-close type="submit" class="btn btn-dark"><i class="fa fa-check-square-o"></i>Create</button>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>