<form [formGroup]="createCategoryForm">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
    <mat-error *ngIf="createCategoryForm?.hasError('required')">Name is required</mat-error>
  </mat-form-field>

  <!-- <mat-form-field>
    <mat-label>Category Cover</mat-label>
    <input type="file" accept=".jpg,.png,.jpeg" (change)="onFileSelected($event)">
  </mat-form-field> -->

  <button mat-raised-button color="primary" [disabled]="createCategoryForm.invalid" (click)="save()">Save</button>
</form>