.img-circle {
  border-radius: 50%;
}

.card {
  border: none;
}

.card-title {
  text-align: center;
}

/* Add shadow and movement effect on hover */
.card-img-top:hover {
  box-shadow: 0 12px 14px 0 rgba(0, 0, 0, .1);
  transform: translateY(-30px);

  transition: .4s ease-in-out;

}