@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=PT+Sans+Narrow:wght@400;700&family=Sawarabi+Mincho&display=swap');

:root {
  /* colors */
  --background-color: #f0f0e2;
  --sub-bg-color: #d5d6cc;
  --text-color: #1c1e28;
  --button-color: #282835;
  --logo-color: #51c6cc;
  --input-background-color: #3f3d56;
  /* font family */
  --header-font-family: 'Sawarabi Mincho', serif;
  --text-font-family: 'PT Sans Narrow', sans-serif;
  --bold-font-family: 'Changa One', cursive;
  /* spinner */
  --trans-dur: 0.3s;
  /* user side bar */
  --bg-color: #000811;
  --primary-color: #006ce0;
  --border-radius: 6px;
  --color: #51c6cc;
}

* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--text-font-family);
  background-color: var(---background-color);

}



::ng-deep .ngx-pagination .current {
  background: var(--button-color) !important;
}
