@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=PT+Sans+Narrow:wght@400;700&family=Sawarabi+Mincho&display=swap');

:root {
  /* colors */
  --background-color: #f0f0e2;
  --sub-bg-color: #d5d6cc;
  --text-color: #1c1e28;
  --button-color: #282835;
  --logo-color: #51c6cc;
  --input-background-color: #3f3d56;
  /* font family */
  --header-font-family: 'Sawarabi Mincho', serif;
  --text-font-family: 'PT Sans Narrow', sans-serif;
  --bold-font-family: 'Changa One', cursive;
  /* spinner */
  --trans-dur: 0.3s;
  /* nav */
    --white:#FFF;
    --black:#000;
    --dark:#1b1b1b;
    --gray:rgba(1,1,1,0.6);
    --lite:rgba(255,255,255,0.6);
    --primary:var(--logo-color);
    --primary_dark:var(--text-color);
    --default_font:'Montserrat', sans-serif;
    --title_font:'Abril Fatface', cursive;
    --cursive_font:'Dancing Script', cursive;
}

* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--text-font-family);
  background-color: #bde4f7;

}



::ng-deep .ngx-pagination .current {
  background: var(--button-color) !important;
}
