.warn{
  color: red;
}
.form-group {
  margin-top: 1rem;
}
.btn {
  margin-top: 1rem;
}

.form-group
.dataInput {
  background-color: var(--input-background-color);
  height: 2.7rem;
  color: var(--sub-bg-color);
  width: 70%;
 }

.my-form .dataInput:focus {
  background-color: var(--input-background-color);
}

.link{
  cursor: pointer;
}
